
body{
	background-color: #ecdac4;
	color: rgb(85,85,85);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

* {
    color:rgb(85,85,85); 
}

p {
  background-color: floralwhite;
}

[class$="2"] {
    background: #a3a578;
}

h1, h2, h3, h4, h5, h6 { 
    color: #ae7e74; 
}

div b {
    color: #8f3812;
}

section > h3 {
    color: #8f3812;
}

h2 + h4 {
    color: floralwhite;
}

h3 ~ p {
    color: #333;
}

section.box-2 {
    margin: 0;
}

/*header style*/
#main-header{
	background-color: #ae7e74;
	color:floralwhite;
}

/*apply on the title of the web*/
.container{
    padding: 0.3125in;
    text-align: center;
    background: hsl(154,15%,29%);
    color: floralwhite;
    font-size: 36pt;
}

#pic{
    width: 600px;
    height: 400px;
    position:relative;
    margin-left: 325px;
}

#pic2{
    max-width: 70px;
    position: sticky;
    top: 80px;
    left: 1600px;
}

.container2{
    text-align: center;
    color: floralwhite;
    font-size: 18pt;
}

.container3{
    text-align: center;
    color: floralwhite;
    font-size: 12pt;
}

#navbar{
	background-color: #3f564c;
	color: #fff;
}

#navbar ul{
	padding: 0;
	list-style: none;
    display: flex;
    justify-content: center;
}

#navbar li{
	display: inline;
}

#navbar a{
	text-decoration: none;
	font-size: 1.125rem;
	padding-right: 15px;
}

/* unvisited link */
a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: floralwhite;
}

/* mouse over link */
a:hover {
  color: #ae7e74;
}

/* selected link */
a:active {
  color: pink;
}

#center{
    text-align: center;
}

#main{
	float:inherit;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
    margin: auto;
}

.box-1{
	background-color: #ecdac4;
	color: #ae7e74;

	border-right: 5px #a3a578 solid;
	border-left:  5px #a3a578 solid;
	border-top: 5px #a3a578 solid;
	border-bottom: 5px #a3a578 solid;
	border-width: 5px;
	border-style: dotted;
    border-radius: 10px;

	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;

	margin-top: 2.9vh;
	margin: 20px 0;
}

.box-2{
	background-color: #ecdac4;
	color: #ae7e74;

	border: 5px #a3a578 dotted;

    border-width: 5px;
    border-radius: 10px;

	padding: 20px;

	margin-top: 20px;
	margin: 20px 0;
}

.box-3{
	background-color: #ecdac4;
	color: #ae7e74;

	border: 5px #a3a578 dotted;

    border-width: 5px;
    border-radius: 10px;

	padding: 20px;

	margin-top: 20px;
	margin: 20px 0;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: inherit;
    flex-basis: initial;
}

.grid{
    display: grid;
    grid-area: span;
    grid-auto-columns: auto;
    grid-template-rows: 250px;
}

#sum{
    color: #ae7e74;
}

#AttendeeNames{
    text-decoration-line: underline;
}

#Agenda{
    text-decoration-line: underline;
}

#UnfinishedBusiness{
    text-decoration-line: underline;
}

#NewBusiness{
    text-decoration-line: underline;
}

#Video{
    text-decoration-line: underline;
}

#video{
    max-width: 100px;
    min-width: 10px;
}

#Audio{
    text-decoration-line: underline;
}

#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}